################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webAPI/LoginExample.API/.vs
/webAPI/LoginExample.API/LoginExample/bin/Debug/net9.0
/webAPI/LoginExample.API/LoginExample/Logs
/webAPI/LoginExample.API/LoginExample/obj
/webAPI/LoginExample.API/LoginExample.Busniess/bin/Debug/net9.0/LoginExample.BSN.dll
/webAPI/LoginExample.API/LoginExample.Busniess/bin/Debug/net9.0/LoginExample.BSN.pdb
/webAPI/LoginExample.API/LoginExample.Busniess/bin/Debug/net9.0/LoginExample.Data.dll
/webAPI/LoginExample.API/LoginExample.Busniess/bin/Debug/net9.0/LoginExample.Data.pdb
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.AssemblyInfo.cs
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.AssemblyInfoInputs.cache
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.csproj.AssemblyReference.cache
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.dll
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.pdb
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.sourcelink.json
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/ref/LoginExample.BSN.dll
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/refint/LoginExample.BSN.dll
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/.futdcache.v2
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/.suo
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/DocumentLayout.backup.json
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/DocumentLayout.json
/webAPI/LoginExample.API/LoginExample.Data/.vs/ProjectEvaluation/loginexample.data.metadata.v9.bin
/webAPI/LoginExample.API/LoginExample.Data/.vs/ProjectEvaluation/loginexample.data.projects.v9.bin
/webAPI/LoginExample.API/LoginExample.Data/.vs/ProjectEvaluation/loginexample.data.strings.v9.bin
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/bin/Debug/net9.0/LoginExample.Data.dll
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/bin/Debug/net9.0/LoginExample.Data.pdb
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/obj/Debug/net9.0/LoginExample.Data.AssemblyInfo.cs
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/obj/Debug/net9.0/LoginExample.Data.AssemblyInfoInputs.cache
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/obj/Debug/net9.0/LoginExample.Data.dll
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/obj/Debug/net9.0/LoginExample.Data.pdb
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/obj/Debug/net9.0/LoginExample.Data.sourcelink.json
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/obj/Debug/net9.0/ref/LoginExample.Data.dll
/webAPI/LoginExample.API/LoginExample.Data/LoginExample.Data/obj/Debug/net9.0/refint/LoginExample.Data.dll
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/FileContentIndex
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/.futdcache.v2
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/.suo
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/DocumentLayout.backup.json
/webAPI/LoginExample.API/LoginExample.Data/.vs/LoginExample.Data/v17/DocumentLayout.json
/webAPI/LoginExample.API/LoginExample.Data/.vs/ProjectEvaluation/loginexample.data.metadata.v9.bin
/webAPI/LoginExample.API/LoginExample.Data/.vs/ProjectEvaluation/loginexample.data.projects.v9.bin
/webAPI/LoginExample.API/LoginExample.Data/.vs/ProjectEvaluation/loginexample.data.strings.v9.bin
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.GeneratedMSBuildEditorConfig.editorconfig
/webAPI/LoginExample.API/LoginExample.Busniess/obj/Debug/net9.0/LoginExample.BSN.GlobalUsings.g.cs
