<link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.css">

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Reset Password</h2>
                    <form method="POST" [formGroup]="resetPasswordForm" class="register-form" id="resetPasswordForm">
                    <div class="form-group">
                        <label for="oldPassword"><i class="zmdi zmdi-lock"></i></label>
                        <input formControlName="oldPassword" type="oldPassword" name="oldPassword" id="oldPassword" placeholder="oldPassword"/>
                    </div>
                    <div *ngIf="oldPassword?.touched && oldPassword?.invalid" class="alert alert-danger">
                        <div *ngIf="oldPassword?.errors?.['required']">Password is required</div>
                        <div *ngIf="oldPassword?.errors?.['minlength']">Password must be at least 8 characters long</div>
                        <div *ngIf="oldPassword?.errors?.['pattern']">Password must have at least one uppercase letter, one lowercase letter, one number and one special character</div>                            
                    </div>
                <div class="form-group">
                    <label for="newPassword"><i class="zmdi zmdi-lock"></i></label>
                    <input formControlName="newPassword" type="newPassword" name="newPassword" id="newPassword" placeholder="newPassword"/>
                </div>
                <div *ngIf="newPassword?.touched && newPassword?.invalid" class="alert alert-danger">
                    <div *ngIf="newPassword?.errors?.['required']">Password is required</div>
                    <div *ngIf="newPassword?.errors?.['minlength']">Password must be at least 8 characters long</div>
                    <div *ngIf="newPassword?.errors?.['pattern']">Password must have at least one uppercase letter, one lowercase letter, one number and one special character</div>                            
                </div>                            
                <div class="form-group">
                    <label for="confirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input formControlName="confirmPassword" type="password" name="confirmPassword" id="re_pass" placeholder="Repeat your password"/>
                </div>
                <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="alert alert-danger">
                    <div *ngIf="confirmPassword?.errors?.['required']">Password confirmation is required</div>
                    <div *ngIf="confirmPassword?.errors?.['minlength']">Password confirmation must be at least 8 characters long</div>
                    <div *ngIf="confirmPassword?.errors?.['passwordMismatch']">Password fields must match.</div>
                </div>
                <div class="form-group form-button">
                    <input type="submit" [disabled]="resetPasswordForm.invalid" name="resetPassword-btn" id="resetPassword-btn" class="form-submit" value="Reset Password"/>
                </div>
            </form>
                </div>
            </div>
        </div>
    </section>
</div>