<link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.css">

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Reset Password</h2>
                    <form method="POST" [formGroup]="resetPasswordForm" class="register-form" id="resetPasswordForm">
                    <div class="form-group">
                        <label for="oldPassword"><i class="zmdi zmdi-lock"></i></label>
                        <input formControlName="oldPassword" type="oldPassword" name="oldPassword" id="oldPassword" placeholder="oldPassword"/>
                    </div>
                    <div *ngIf="oldPassword?.touched && oldPassword?.invalid" class="alert alert-danger">
                        <div *ngIf="oldPassword?.errors?.['required']">Password is required</div>
                        <div *ngIf="oldPassword?.errors?.['minlength']">Password must be at least 8 characters long</div>
                        <div *ngIf="oldPassword?.errors?.['pattern']">Password must have at least one uppercase letter, one lowercase letter, one number and one special character</div>                            
                    </div>
                <div class="form-group">
                    <label for="password"><i class="zmdi zmdi-lock"></i></label>
                    <input formControlName="password" type="password" name="password" id="password" placeholder="password"/>
                </div>
                <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">
                    <div *ngIf="password?.errors?.['required']">Password is required</div>
                    <div *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters long</div>
                    <div *ngIf="password?.errors?.['pattern']">Password must have at least one uppercase letter, one lowercase letter, one number and one special character</div>                            
                </div>                            
                <div class="form-group">
                    <label for="passwordConfirm"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input formControlName="passwordConfirm" type="password" name="passwordConfirm" id="re_pass" placeholder="Repeat your password"/>
                </div>
                <div *ngIf="passwordConfirm?.touched && passwordConfirm?.invalid" class="alert alert-danger">
                    <div *ngIf="passwordConfirm?.errors?.['required']">Password confirmation is required</div>
                    <div *ngIf="passwordConfirm?.errors?.['minlength']">Password confirmation must be at least 8 characters long</div>
                    <div *ngIf="passwordConfirm?.errors?.['passwordMismatch']">Password fields must match.</div>
                </div>
                <div class="form-group form-button">
                    <input type="submit" [disabled]="resetPasswordForm.invalid" name="resetPassword-btn" id="resetPassword-btn" class="form-submit" value="Reset Password"/>
                </div>
            </form>
                </div>
            </div>
        </div>
    </section>
</div>